<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- $title := (print .Title " | " .Site.Title) -}}
{{- if eq .Site.Title .Title }}
{{- $title = .Site.Title -}}
{{ end -}}
<title>{{ $title }}</title>
<meta property="og:title" content="{{ $title }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta property="og:updated_time" content="{{ .Lastmod.Format `2006-01-02T15:04:05+09:00` }}">

{{- if .IsHome -}}
<meta name="description" content="{{- $.Site.Params.description -}}">
<meta property="og:description" content="{{- $.Site.Params.description -}}">
{{- else -}}
{{- with or ($.Store.Get "DESCRIPTION") ($.Store.Get "SUMMARY") -}}
<meta name="description" content="{{ . }}">
<meta property="og:description" content="{{ . }}">
{{- end -}}
{{- end -}}


{{- if .IsHome -}}
<meta property="og:type" content="website">
{{ else }}
<meta property="og:type" content="{{ default `article` }}">
<meta property="article:section" content="{{ .Section }}">
{{- end -}}

{{- with .Store.Get "THUMBNAIL" -}}
<meta property="og:image" content="{{ . }}">
{{- else with .Store.Get "FAVICON" -}}
<meta property="og:image" content="{{ . }}">
{{- end -}}

{{- with .Store.Get "THUMBNAIL" -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ . }}">
{{ else with .Store.Get "FAVICON" -}}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ . }}">
{{- else -}}
<meta name="twitter:card" content="summary">
{{- end -}}

<meta name="twitter:title" content="{{ $title }}">

{{- with or ($.Store.Get "DESCRIPTION") ($.Store.Get "SUMMARY") }}
<meta name="twitter:description" content="{{ . }}">
{{ end -}}

{{- $twitterSite := "" }}
{{- with site.Params.social }}
{{- if reflect.IsMap . }}
{{- with .twitter }}
{{- $content := . }}
{{- if not (strings.HasPrefix . "@") }}
{{- $content = printf "@%v" . }}
{{- end -}}
<meta name="twitter:site" content="{{ $content }}">
{{- end -}}
{{- end -}}
{{- end -}}


{{- if (or .Site.Params.noindex .Params.noindex .Params.hide (eq .Kind "taxonomy") (eq .Kind "term") (eq .Kind "section")) }}
<meta name="robots" content="none" />
{{ end -}}

{{- with (or .Site.Params.hatena_id .Params.hatena_id) -}}
<link rel="author" href="https://www.hatena.ne.jp/{{ . }}">
{{- end -}}

{{- if (or .Site.Params.nocomment .Params.nocomment) }}
<meta name="Hatena::Bookmark" content="nocomment" />
{{ end -}}

{{- if (eq .Kind "page")}}
<link rel="canonical" href="{{ .Permalink }}">
{{ end -}}

{{- range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink | safeURL }}" title="{{ $title }}">
{{ end -}}

{{- if not .IsHome }}
{{- with .Site.Home.OutputFormats.Get "rss" -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
{{- end -}}
{{- end -}}

{{- with $.Store.Get "FAVICON" -}}
{{- if eq ( path.Ext .) ".svg" }}
<link rel="icon" type="image/svg+xml" href="{{ . }}">
{{ else if ne ( path.Ext . ) ".ico" }}
<link rel="icon" type="image/{{ replace ( path.Ext . ) `.` `` }}" href="{{ . }}">
{{ else }}
<link rel="icon" type="image/x-icon" href="{{ . }}">
{{ end -}}
{{- end -}}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ .Site.Title }}",
        "url": {{ absURL "" }}
    }
</script>
