<script src="/js/code.js" defer></script>
{{- if .IsPage }}
<script src="/js/toc.js" defer></script>
{{ end -}}
{{- if .HasShortcode "soundcloud" }}
<script>
    window.addEventListener("DOMContentLoaded", function() {
        let script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = "/js/api.js";
        script.onload = function() {
            document.querySelectorAll(`.soundcloud`).forEach((c) => {
                c.querySelector("input.input_volume").addEventListener("input", event => {
                    // console.log(event.target.value)
                    SC.Widget(c.querySelector(`iframe`)).setVolume(event.target.value);
                })
            })
        }
        script.onerror = function() {}
        document.head.appendChild(script);
    })
</script>
{{ end -}}

{{- if .HasShortcode "codepen" }}
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
{{ end -}}

{{- if .HasShortcode "yt" }}
<script>
    function load_yt(details) {
        if (details.open) {
            let video_id = details.getAttribute("video_id");
            let ytiframe = document.createElement("iframe");
            ytiframe.src = `https://www.youtube.com/embed/${video_id}?modestbranding=1`;
            ytiframe.width = "100%";
            ytiframe.height = "auto";
            ytiframe.allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
            ytiframe.allowFullscreen = true;
            ytiframe.referrerpolicy="strict-origin-when-cross-origin";
            details.appendChild(ytiframe);
            return;
        } else {
            details.querySelector(`iframe`).remove();
        }
        
    }
</script>
{{ end -}}

{{- if (or .Site.Params.norightclick .Params.norightclick) -}}
<script>
    document.addEventListener("contextmenu", function(event) {
        alert("右クリック禁止です！")
        event.preventDefault();
    })
</script>
{{- end -}}