{{- partial "variable/variable.html" . -}}
<section class="section-flex">
    {{- with $.Store.Get "THUMBNAIL" }}
    <div class="section-thumbnail">
        <a href="{{ $.RelPermalink }}">
            <img src="{{ . }}" alt="">
        </a>
    </div>
    {{ end -}}
    <div class="section-content">
        <div class="section-date">
            <time datetime="{{ .Date.Format `2006-01-02T15:04:05+09:00` }}">{{ .Date.Format "2006-01-02" }}</time>
        </div>
        <div class="section-title">
            <h2>
                <a href="{{ .RelPermalink }}">
                    {{ .LinkTitle }}
                </a>
            </h2>
        </div>
        <div class="tags">
            {{- range .GetTerms "tags" }}
            <a class="tag" href="{{ .RelPermalink }}">{{ .LinkTitle | safeHTML }}</a>
            {{ end -}}
        </div>
        {{- with or ($.Store.Get "DESCRIPTION") ($.Store.Get "SUMMARY") }}
        <div class="section-summary ">
            {{ . }}
        </div>
        {{ end -}}
    </div>
</section>