{{- $.Scratch.Set "DESCRIPTION" ( or .Description .Content ) -}}

{{ range (where .CurrentSection.RegularPages "Params.hide" "!=" true).ByDate.Reverse }}
{{ if (.Date.Before $.Date) }}
{{ $.Scratch.Set "PREVINSECTION" . }}
{{ break }}
{{ end }}
{{ end }}


{{ range (where .CurrentSection.RegularPages "Params.hide" "!=" true).ByDate }}
{{ if (.Date.After $.Date) }}
{{ $.Scratch.Set "NEXTINSECTION" . }}
{{ break }}
{{ end }}
{{ end }}


{{- with .Site.Params.favicon }}
{{ $.Scratch.Set "FAVICON" (. | absURL) }}
{{ end -}}