{{ $emojis := dict
    "note" ":information_source:"
    "tip" ":bulb:"
    "important" ":memo:"
    "caution" ":exclamation:"
    "warning" ":warning:"
}}

{{ if eq .Type "alert" }}
<blockquote class="alert alert-{{ .AlertType }}">
    <p class="alert-heading">
        {{ transform.Emojify (index $emojis .AlertType) }}
        {{ or (i18n .AlertType) (title .AlertType) }}
    </p>
    <span class="blockquote-text">
        {{ .Text | safeHTML }}
    </span>
</blockquote>
{{ else }}
<blockquote>
    <span class="blockquote-text">
        {{ .Text | safeHTML }}
    </span>
</blockquote>
{{ end }}