{{ $ID := .Get 0 }}
{{ $TITLE := .Get 1 }}
<div class="yt-box" video_id="{{ $ID }}">
    <a href="https://youtu.be/{{ $ID }}" target="_blank">{{ or ($TITLE) (printf "https://youtu.be/%s" $ID) }}</a>
    <button onclick="load_yt(this)">
        <img class="yt-thumb" src="https://i.ytimg.com/vi/{{ .Get 0 }}/maxresdefault.jpg" alt="thumbnail">
    </button>
    <!-- <iframe style="display: block; margin: auto;" width="640px" height="360px" src="https://www.youtube-nocookie.com/embed/{{ .Get 0 }}?modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
</div>